/*index.html*/
@media (prefers-reduced-motion: no-preference) {
	* {
	  scroll-behavior: smooth;
	}
}

* 	{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
	}

html {margin: 1%; padding: 2%;}

		/*#Header{ text-align: center; 
			align-content: center; 
			position: fixed; 
			left: 50px; 
			width: 80%; 
			top: 0; 
			background: black;  
			color: lightgray; 
			padding:  1px; 
			border-radius: 10%;}
	*/
header	{width: 97%;
		height: 100px;
		background-color: #1b1;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: fixed;
		top: 0;
		padding-right: 50px;
		border: 50px;
		}

nav {
	width: 50%;
		max-width: 300px;
		height: 50px;
	}
	
nav > ul {
	display: flex;
		justify-content: space-evenly;
	flex-wrap: wrap;
		align-items: center;
		padding-inline-start: 0;
		margin-block: 0;
		height: 100%;
	}
	
nav > ul > li {
	color: #dfdfe2;
	margin: 0 0.2rem;
		padding: 0.2rem;
		display: block;
	}
	
nav > ul > li:hover {
	background-color: #dfdfe2;
	color: #1b1b32;
	cursor: pointer;
	}
	
li > a {
	color: inherit;
	text-decoration: none;
	}
	
main {
	padding-top: 50px;
	}


h2 	{text-decoration: underline;
	}
	
p 	{	font-size: 13pt;
		font-family: "Lucida Console", Monaco, monospace; 
	}
	/*#p1{text-align: center; background-color: mediumaquamarine;}*/

body{	margin-top: 10px; 
		border: 10px solid black;
		background: #114262;
		background: -moz-radial-gradient(center, #114262 0%, #A0B9E6 32%, #144E75 100%);
		background: -webkit-radial-gradient(center, #114262 0%, #A0B9E6 32%, #144E75 100%);
		background: radial-gradient(ellipse at center, #114262 0%, #A0B9E6 32%, #144E75 100%);
	}

a 	{	color: purple;
	}

td	{	text-align: center;
	}
#plantapartments:hover{
	background-color: #dfdfe2;
	color: #1b1b32;
	cursor: pointer;

}
	
#video	{	left:40px; 
			bottom: 30px; 
			z-index: 0;
		}

iframe	{	align-content: center; 
			flex-wrap: center;
		}

#div1	{	border: 5px solid black; 
			-webkit-border-radius: 25px; 
			border-radius: 25px; 
			padding: 3px;
			position: relative;
		}

#div2	{	background-color: darkred ;
			position: static;
		}

#div3	{background-color: yellowgreen;
		}

#div4	{background-color: cadetblue;
		}
	
#div1, #div2, #div3, #div4 {border: 5px solid #800080;
		}

span	{font-size: 2em; 
		 color: orange ;
		}

#bottom_p1 {text-align: right;
			}

#bottom_p2	{text-align: center;
			}

#bottom_p3	{text-align: inherit;
			}

.box		{display: grid; 
			grid-template-columns: 50% 50%; 
			grid-gap: 5px; 
			border: 10px solid black; padding: 5px;
			}

.box:hover	{background-color: purple;
			}
/* stories.html */
	
.stories_div{margin: 1em;
			max-width: 50%;
			display: inline-flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			padding: 0 4px;
			border-radius: 5px;
			font-size:  15px; 					
			border: 10px solid black;
			background-color: gainsboro;
			font: 1em sans-serif;
			}

.underline{text-decoration: underline;
			}
	/* to make div box stick to the top of page {position: sticky top:  0;} */
	


#divb*	{padding: 5px;
		font-size: 2em;
		margin: 3px;
		}
	
#divdaddy*{position: relative;
		}
	
#divc:hover{background-color: violet;
		}

#divc{ 	 
		background-color: springgreen;	
	}
	
#divd	{background-color: pink;
		}

#dive	{background-color: magenta;
		}

#divf	{background-color: lavender;
		}

#divg	{background-color: violet;  
		position: fixed; 
		bottom: 0; 
		right: 0; 
		}

#divh	{background-color: pink;
		}

#divi	{background-color: magenta;
		}

#divj	{background-color: lavender;
		}

#button1 {margin-left: 20px; 
			color: rgb(255, 255, 255); 
			font-size: 23px; 
			line-height: 23px; 
			padding: 5px; 
			border-radius: 50px; 
			font-family: "Lucida Console", Monaco, monospace; 
			font-weight: normal; 
			text-decoration: none; 
			font-style: normal; 
			font-variant: normal; 
			text-transform: none; 
			background-image: radial-gradient(at center center, rgb(17, 66, 98) 0%, rgb(160, 185, 230) 32%, rgb(20, 78, 117) 100%); 
			box-shadow: rgb(0, 0, 0) -3px 0px 0px 18px; 
			border: 7px outset rgb(28, 110, 164); 
			display: inline-block;
		}

.button1:hover {background: #114262;
		}
	
.button1:active {background: #144E75;
		}

nav:hover {background-color: yellow; 
		}